@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: hsl(40, 78, 61);
    }

    body {
        @apply font-Manrope bg-csBlack text-csWhite text-base;
    }

    body::-webkit-scrollbar {
        @apply bg-transparent w-2;
    }

    body::-webkit-scrollbar-thumb {
        @apply bg-csWhite w-1 rounded-sm;
    }

    header,
    main,
    footer {
        @apply px-5 sm:px-7 md:px-9;
    }

    /* Fluid font size variables, for browsers that support clamp */
    @supports (font-size: clamp(1rem, 1vw, 1rem)) {
        :root {
            --font-size-sm: clamp(12.8px, 0.04vw + 12.64px, 13.5px);
            --font-size-base: clamp(16px, 0.12vw + 15.54px, 18px);
            --font-size-lg: clamp(20px, 0.25vw + 19.08px, 23.99px);
            --font-size-xl: clamp(25px, 0.43vw + 23.39px, 31.98px);
            --font-size-2xl: clamp(31.25px, 0.7vw + 28.62px, 42.63px);
            --font-size-3xl: clamp(39.06px, 1.09vw + 34.96px, 56.83px);
            --font-size-4xl: clamp(48.83px, 1.66vw + 42.61px, 75.76px);
            --font-size-5xl: clamp(61.04px, 2.46vw + 51.82px, 100.98px);
        }
    }
    /* Fallback variables for browsers that don't support clamp */
    @supports not (font-size: clamp(1rem, 1vw, 1rem)) {
        :root {
            --font-size-sm: 12.8px;
            --font-size-base: 16px;
            --font-size-lg: 20px;
            --font-size-xl: 25px;
            --font-size-2xl: 31.25px;
            --font-size-3xl: 39.06px;
            --font-size-4xl: 48.83px;
            --font-size-5xl: 61.04px;
        }
        @media screen and (min-width: 2000px) {
            :root {
                --font-size-sm: 13.5px;
                --font-size-base: 18px;
                --font-size-lg: 23.99px;
                --font-size-xl: 31.98px;
                --font-size-2xl: 42.63px;
                --font-size-3xl: 56.83px;
                --font-size-4xl: 75.76px;
                --font-size-5xl: 100.98px;
            }
        }
    }
}

@layer components {
    .componentXPadding {
        @apply px-5 sm:px-7 md:px-9;
    }

    #pageLinks {
        @apply font-medium capitalize space-y-3;
    }
    #menuListTitle {
        @apply text-sm capitalize text-csGrey;
    }
    #menuHoverEffect {
        @apply hover:scale-110 motion-safe:transition-transform duration-1000 overflow-hidden;
    }

    #menuBtn {
        @apply flex justify-center items-center gap-x-1;
    }

    #menuBtn .line {
        @apply w-[2px] h-5 bg-csWhite transition-all duration-500;
    }

    #menuBtn .circle {
        @apply w-3 h-5 rounded-sm border-2 border-csWhite scale-75 transition-all duration-500;
    }

    #menuBtn.active .line {
        @apply scale-75;
    }

    #menuBtn.active .circle {
        @apply scale-100 border-csAccent;
    }
}
